In [64]:
import pandas as pd
import os
import numpy as np

pd.set_option('display.max_columns', 30)
pd.set_option('display.max_rows', 57)

In [65]:
PopData = "C:\\Users\\mgeam\\BestCityToLiveCA\\Resources\\CrimeData\\CountyPopulation.csv"
open(PopData)
os.path.exists(PopData)

True

In [66]:
#Create County Population Table

PopTable = pd.read_csv(PopData)
CleanPopTable = PopTable.dropna(axis='rows')
CleanerPopTable = ViolentCrime = CleanPopTable.drop([113, 114, 115, 116, 117])
CleanestPopTable = CleanerPopTable.set_index('County')
IntPopTable = CleanestPopTable.apply(pd.to_numeric, errors='coerce')
IntPopTable

           Population
County
Alameda       1559308
Alpine           1202
Amador          37159
Butte          221578
Calaveras       44921
...               ...
Tulare         451108
Tuolumne        54347
Ventura        835790
Yolo           204162
Yuba            73059

[58 rows x 1 columns]

In [67]:
CrimeData = "C:\\Users\\mgeam\\BestCityToLiveCA\\CrimeRates.csv"
open(CrimeData)
os.path.exists(CrimeData)

True

In [68]:
CrimeTable = pd.read_csv(CrimeData)

In [69]:
pd.set_option('display.max_columns', 58)
pd.set_option('display.max_rows', 25)

In [70]:
CrimeTable

,Crimes,Alameda,Alpine,Amador,Butte,Calaveras,Colusa,Contra Costa,Del Norte,El Dorado,Fresno,Glenn,Humboldt,Imperial,Inyo,Kern,Kings,Lake,Lassen,Los Angeles,Madera,Marin,Mariposa,Mendocino,Merced,Modoc,Mono,Monterey,Napa,Nevada,Orange,Placer,Plumas,Riverside,Sacramento,San Benito,San Bernardino,San Diego,San Francisco,San Joaquin,San Luis Obispo,San Mateo,Santa Barbara,Santa Cruz,Shasta,Sierra,Siskiyou,Solano,Sonoma,Stanislaus,Sutter,Tehama,Trinity,Tulare,Tuolumne,Ventura,Yolo,Yuba
0,Violent Crimes,9734,13,110,1024,145,58,4138,109,323,4737,91,626,589,94,5567,757,347,274,56416,830,516,79,336,1520,43,67,1433,753,238,6797,597,128,7511,6765,147,12219,11409,6092,5952,630,1837,1529,1106,623,1,181,2114,2016,2908,318,256,61,1692,195,1830,637,326
1,Homicide,96,0,1,7,1,0,54,2,5,55,2,6,7,1,84,4,5,0,508,3,1,0,3,12,0,0,15,1,3,57,7,1,118,78,1,147,86,40,50,5,10,17,6,6,0,6,21,9,25,4,3,2,20,2,24,6,7
2,Rape (Forcible Rape prior to 2014),702,2,8,180,34,15,320,13,59,267,12,66,28,18,455,71,43,15,4169,68,44,8,45,82,4,18,139,90,16,894,94,9,496,407,22,890,1106,330,301,95,322,211,137,63,0,13,264,277,170,32,46,10,194,68,232,87,41
3,Rape,668,2,8,124,34,14,299,12,56,231,11,66,25,18,429,69,41,15,3969,61,41,7,38,82,4,16,135,87,15,820,92,9,447,394,21,813,988,275,281,86,308,200,119,61,0,13,262,267,161,31,44,10,188,68,231,83,41
4,Attempted Rape,34,0,0,56,0,1,21,1,3,36,1,0,3,0,26,2,2,0,200,7,3,1,7,0,0,2,4,3,1,74,2,0,49,13,1,77,118,55,20,9,14,11,18,2,0,0,2,10,9,1,2,0,6,0,1,4,0
5,Robbery,4916,0,9,167,9,9,1519,26,55,918,16,149,80,9,1238,88,62,10,18607,94,145,2,51,202,2,1,368,70,17,2209,131,5,2149,2035,29,3103,2891,3173,1560,77,552,295,182,77,0,9,661,243,724,65,30,9,389,13,527,176,61
6,Firearm,1707,0,0,38,3,3,410,2,7,248,3,42,8,0,364,17,13,2,4443,15,19,1,10,40,0,0,115,9,6,442,16,1,568,476,4,945,427,368,396,13,79,63,25,5,0,2,176,47,182,12,5,1,105,3,116,35,13
7,Knife or Cutting Instrument,283,0,0,12,1,2,97,1,10,80,0,20,10,0,141,6,5,1,1792,13,18,0,2,20,1,0,36,4,3,305,3,0,166,140,2,266,312,213,129,9,48,32,34,2,0,1,40,26,63,3,5,0,49,0,89,9,7
8,Other Weapon,339,0,0,16,0,1,97,0,4,72,0,9,6,0,129,5,6,2,2276,10,7,1,1,23,1,0,24,14,1,275,16,2,567,256,4,289,449,314,257,5,29,51,22,52,0,1,39,28,72,11,4,6,27,3,64,10,7
9,Strong-Arm,2587,0,9,101,5,3,915,23,34,518,13,78,56,9,604,60,38,5,10096,56,101,0,38,119,0,1,193,43,7,1187,96,2,848,1163,19,1603,1703,2278,778,50,396,149,101,18,0,5,406,142,407,39,16,2,208,7,258,122,34
10,Aggravated Assault,4020,11,92,670,101,34,2245,68,204,3497,61,405,474,66,3790,594,237,249,33132,665,326,69,237,1224,37,48,911,592,202,3637,365,113,4748,4245,95,8079,7326,2549,4041,453,953,1006,781,477,1,153,1168,1487,1989,217,177,40,1089,112,1047,368,217
11,Property Crimes,66731,32,670,5322,838,347,28555,804,2559,23195,526,3926,3476,393,29604,2466,1228,419,224192,2693,5443,182,1255,6898,66,187,7735,2162,1191,59186,6138,314,57986,36224,472,47416,55233,50012,21409,5119,16272,7307,7005,2413,31,636,13161,6760,14274,2447,1623,237,10625,1074,12634,6644,1844
12,Burglary,6516,13,178,1111,297,109,3580,251,629,4694,109,796,769,115,7595,410,379,145,37987,682,1001,53,357,1418,20,38,1524,395,329,8529,992,116,10289,6611,96,9979,7694,4685,3771,995,2222,1269,1039,630,15,161,3727,1228,2628,398,436,83,2025,375,1946,925,405
13,Forcible Entry,4852,5,85,608,171,60,2379,235,408,3910,86,407,374,65,5728,250,161,84,28659,444,538,28,174,952,14,13,909,111,181,5909,607,64,7348,4452,67,7367,4369,2329,2672,626,1294,727,657,518,2,103,2505,402,1838,222,229,68,1482,215,1242,546,252
14,No Force,1664,8,93,503,126,49,1201,16,221,784,23,389,395,50,1867,160,218,61,9328,238,463,25,183,466,6,25,615,284,148,2620,385,52,2941,2159,29,2612,3325,2356,1099,369,928,542,382,112,13,58,1222,826,790,176,207,15,543,160,704,379,153
15,Motor Vehicle Theft,10267,4,37,868,69,56,4599,47,146,3483,83,535,471,18,5883,394,266,42,37429,416,420,5,162,1391,8,11,1649,189,177,6701,541,23,10248,5397,93,9081,9681,4284,3078,324,1522,1046,828,581,0,93,2065,566,2491,352,254,32,1845,101,1234,587,475
16,Automotive,9207,3,15,624,36,27,3372,26,83,2574,40,311,333,11,4192,194,155,26,23338,303,270,2,138,1047,6,5,1229,89,107,4873,377,17,6262,4025,64,6910,7601,3075,1879,175,1138,743,623,463,0,68,1353,376,1828,237,135,28,1146,53,822,409,356
17,Trucks and Buses,723,1,8,139,23,16,953,8,21,664,13,166,67,3,1223,148,62,4,11826,68,105,1,10,247,2,2,330,95,34,1268,98,4,2659,993,14,1597,1060,398,946,55,246,114,140,86,0,9,499,137,502,73,77,2,550,27,308,88,81
18,Other,337,0,14,105,10,13,274,13,42,245,30,58,71,4,468,52,49,12,2265,45,45,2,14,97,0,4,90,5,36,560,66,2,1327,379,15,574,1020,811,253,94,138,189,65,32,0,16,213,53,161,42,42,2,149,21,104,90,38
19,Larceny-Theft,49948,15,455,3343,472,182,20376,506,1784,15018,334,2595,2236,260,16126,1662,583,232,148776,1595,4022,124,736,4089,38,138,4562,1578,685,43956,4605,175,37449,24216,283,28356,37858,41043,14560,3800,12528,4992,5138,1202,16,382,7369,4966,9155,1697,933,122,6755,598,9454,5132,964
20,Pocket-Picking,1307,0,2,7,3,0,157,0,12,32,0,9,4,0,71,9,1,1,1142,5,26,0,3,15,0,1,12,2,6,599,43,0,348,31,3,346,110,1161,33,9,132,16,14,1,0,0,40,17,17,2,3,0,16,0,47,12,0
21,Purse-Snatching,474,0,1,11,1,0,76,2,14,22,0,10,31,2,85,7,9,3,538,13,25,0,4,19,0,1,14,4,11,115,40,0,108,66,3,117,180,34,39,22,60,20,9,2,0,6,34,12,16,0,0,0,15,0,6,9,4
22,Shoplifting,3852,1,12,307,25,8,3176,106,203,2543,38,460,441,24,2484,265,77,33,23095,181,334,17,238,705,4,26,768,247,120,8180,847,14,5645,2215,59,6344,5243,2341,3065,804,1736,701,727,161,1,122,1274,751,1887,463,114,12,1284,74,2639,684,93
23,Arson,381,0,15,75,0,5,208,18,4,274,3,71,104,0,843,27,16,1,2711,24,18,0,44,89,0,3,71,50,4,263,41,3,276,278,5,416,280,277,203,44,70,54,54,14,0,1,106,72,169,8,22,2,87,10,91,88,20

In [71]:
ViolentCrime = CrimeTable.drop([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23])
del ViolentCrime['Crimes']
TransposeViolentCrime = ViolentCrime.T
ViolentCrimeTable = TransposeViolentCrime.sort_values(by=[0])
MergeViolentCrimeTable = ViolentCrimeTable.merge(IntPopTable, left_index=True, right_index=True)
MergeViolentCrimeTable['Violent Crime Rate'] = MergeViolentCrimeTable[0]/IntPopTable['Population']
FinalViolentCrimeRateTable = MergeViolentCrimeTable.sort_values(by=['Violent Crime Rate'])
FinalViolentCrimeRateTable

                  0  Population  Violent Crime Rate
Sierra            1        3019            0.000331
Placer          597      361518            0.001651
El Dorado       323      181465            0.001780
Marin           516      256802            0.002009
Ventura        1830      835790            0.002190
...             ...         ...                 ...
Plumas          128       19286            0.006637
San Francisco  6092      829072            0.007348
Lassen          274       33356            0.008214
San Joaquin    5952      701050            0.008490
Alpine           13        1202            0.010815

[57 rows x 3 columns]

In [72]:
FinalViolentCrimeRateTable.to_csv('Total Violent Crime.csv', index=True)

In [73]:
PropertyCrime = CrimeTable.drop([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23])
del PropertyCrime['Crimes']
TransposePropertyCrime = PropertyCrime.T
PropertyCrimeTable = TransposePropertyCrime.sort_values(by=[11])
MergePropertyCrimeTable = PropertyCrimeTable.merge(IntPopTable, left_index=True, right_index=True)
MergePropertyCrimeTable['Property Crime Rate'] = MergePropertyCrimeTable[11]/IntPopTable['Population']
FinalPropertyCrimeTable = MergePropertyCrimeTable.sort_values(by=['Property Crime Rate'])
FinalPropertyCrimeTable

                  11  Population  Property Crime Rate
Modoc             66        9335             0.007070
San Benito       472       56888             0.008297
Mariposa         182       17946             0.010142
Sierra            31        3019             0.010268
Nevada          1191       98606             0.012078
...              ...         ...                  ...
Solano         13161      421624             0.031215
Yolo            6644      204162             0.032543
Kern           29604      857730             0.034514
Alameda        66731     1559308             0.042795
San Francisco  50012      829072             0.060323

[57 rows x 3 columns]

In [74]:
FinalPropertyCrimeTable.to_csv('Total Prperty Crime.csv', index=True)

In [75]:
AllCrimeTable = PropertyCrimeTable.merge(TransposeViolentCrime, left_index=True, right_index=True)
MergeAllCrimeTable = AllCrimeTable.merge(IntPopTable, left_index=True, right_index=True)
MergeAllCrimeTable['Crime Rate'] = (MergeAllCrimeTable[11] + MergeAllCrimeTable[0])/IntPopTable['Population']
AllCrimeRateTable = MergeAllCrimeTable.sort_values(by=['Crime Rate'])
AllCrimeRateTable

                  11     0  Population  Crime Rate
Sierra            31     1        3019    0.010600
San Benito       472   147       56888    0.010881
Modoc             66    43        9335    0.011676
Nevada          1191   238       98606    0.014492
Mariposa         182    79       17946    0.014544
...              ...   ...         ...         ...
Alpine            32    13        1202    0.037438
San Joaquin    21409  5952      701050    0.039029
Kern           29604  5567      857730    0.041005
Alameda        66731  9734     1559308    0.049038
San Francisco  50012  6092      829072    0.067671

[57 rows x 4 columns]

In [76]:
AllCrimeRateTable.to_csv('Total Crime.csv', index=True)

In [77]:
Robbery = CrimeTable.drop([0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23])
del Robbery['Crimes']
TransposeRobbery = Robbery.T
RobberyTable = TransposeRobbery.sort_values(by=[5])
MergeRobberyTable = RobberyTable.merge(IntPopTable, left_index=True, right_index=True)
MergeRobberyTable['Robbery Rate'] = MergeRobberyTable[5]/IntPopTable['Population']
FinalRobberyTable = MergeRobberyTable.sort_values(by=['Robbery Rate'])
FinalRobberyTable

                   5  Population  Robbery Rate
Alpine             0        1202      0.000000
Sierra             0        3019      0.000000
Mono               1       14193      0.000070
Mariposa           2       17946      0.000111
Nevada            17       98606      0.000172
...              ...         ...           ...
Solano           661      421624      0.001568
Los Angeles    18607     9974203      0.001866
San Joaquin     1560      701050      0.002225
Alameda         4916     1559308      0.003153
San Francisco   3173      829072      0.003827

[57 rows x 3 columns]

In [78]:
FinalRobberyTable.to_csv('Total Robbery.csv', index=True)

In [79]:
Burglary = CrimeTable.drop([0, 1, 2, 3, 4, 6, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23])
del Burglary['Crimes']
TransposeBurglary = Burglary.T
BurglaryTable = TransposeBurglary.sort_values(by=[12])
MergeBurglaryTable = BurglaryTable.merge(IntPopTable, left_index=True, right_index=True)
MergeBurglaryTable['Burglary Rate'] = MergeBurglaryTable[12]/IntPopTable['Population']
FinalBurglaryTable = MergeBurglaryTable.sort_values(by=['Burglary Rate'])
FinalBurglaryTable

              12  Population  Burglary Rate
San Benito    96       56888       0.001688
Modoc         20        9335       0.002142
Ventura     1946      835790       0.002328
San Diego   7694     3183143       0.002417
Sonoma      1228      491790       0.002497
...          ...         ...            ...
Tuolumne     375       54347       0.006900
Solano      3727      421624       0.008840
Kern        7595      857730       0.008855
Del Norte    251       28066       0.008943
Alpine        13        1202       0.010815

[57 rows x 3 columns]

In [80]:
FinalBurglaryTable.to_csv('Total Burglary.csv', index=True)

In [81]:
Homicide = CrimeTable.drop([0, 2, 3, 4, 6, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23])
del Homicide['Crimes']
TransposeHomicide = Homicide.T
HomicideTable = TransposeHomicide.sort_values(by=[1])
MergeHomicideTable = HomicideTable.merge(IntPopTable, left_index=True, right_index=True)
MergeHomicideTable['Homicide Rate'] = MergeHomicideTable[1]/IntPopTable['Population']
FinalHomicideTable = MergeHomicideTable.sort_values(by=['Homicide Rate'])
FinalHomicideTable

           1  Population  Homicide Rate
Mono       0       14193       0.000000
Mariposa   0       17946       0.000000
Modoc      0        9335       0.000000
Lassen     0       33356       0.000000
Colusa     0       21424       0.000000
...       ..         ...            ...
Lake       5       64209       0.000078
Yuba       7       73059       0.000096
Kern      84      857730       0.000098
Siskiyou   6       44261       0.000136
Trinity    2       13515       0.000148

[57 rows x 3 columns]

In [82]:
FinalHomicideTable.to_csv('Total Homicide.csv', index=False)

In [83]:
Arson = CrimeTable.drop([0, 1, 2, 3, 4, 6, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22])
del Arson['Crimes']
TransposeArson = Arson.T
ArsonTable = TransposeArson.sort_values(by=[23])
MergeArsonTable = ArsonTable.merge(IntPopTable, left_index=True, right_index=True)
MergeArsonTable['Arson Rate'] = MergeArsonTable[23]/IntPopTable['Population']
FinalArsonTable = MergeArsonTable.sort_values(by=['Arson Rate'])
FinalArsonTable

            23  Population  Arson Rate
Modoc        0        9335    0.000000
Alpine       0        1202    0.000000
Inyo         0       18439    0.000000
Calaveras    0       44921    0.000000
Sierra       0        3019    0.000000
...        ...         ...         ...
Mendocino   44       87612    0.000502
Humboldt    71      134876    0.000526
Imperial   104      177026    0.000587
Del Norte   18       28066    0.000641
Kern       843      857730    0.000983

[57 rows x 3 columns]

In [84]:
FinalArsonTable.to_csv('Total Arson.csv', index=True)