In [1]:
#Dependencies:
    
import pandas as pd
import os

In [2]:
# Path to file folder
data_folder_own = 'Resources/RentData/Owning Only/'
data_folder_rent = 'Resources/RentData/Rent only/'

In [3]:
# Get list of files from given directory
files_own = os.listdir(data_folder_own)
files_rent = os.listdir(data_folder_rent)

### Data Preparation

In [4]:
# DataFrame to store data about all homes type
homes_df = pd.DataFrame()

# Read each file to a temp DataFrame, drop excess columns, and concatenates temp DataFrame with homes_df
# Also we add column Home Type to identify home type in homes_df
for ind in range(len(files_own) - 1):
    path_to_file = data_folder_own + files_own[ind]
    temp_df = pd.read_csv(path_to_file)
    temp_df = temp_df.filter(regex=r'RegionID|SizeRank|RegionName|RegionType|State|StateCodeFIPS|MunicipalCodeFIPS|2019')
    temp_df['Home Type'] = files_own[ind]
    homes_df = pd.concat([homes_df, temp_df], ignore_index=True)

homes_df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,StateCodeFIPS,MunicipalCodeFIPS,2019-01-31,2019-02-28,...,2019-04-30,2019-05-31,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,Home Type
0,3101,0,Los Angeles County,County,CA,CA,6,37,720614.0,717257.0,...,713429.0,717638.0,723502.0,724759.0,724660.0,724521.0,726980.0,728185.0,731134.0,4_bedroom.csv
1,139,1,Cook County,County,IL,IL,17,31,334779.0,334353.0,...,335269.0,335952.0,336377.0,336621.0,336607.0,335592.0,334656.0,333503.0,333001.0,4_bedroom.csv
2,1090,2,Harris County,County,TX,TX,48,201,245617.0,246568.0,...,246216.0,246284.0,246946.0,247734.0,248119.0,247737.0,247965.0,248233.0,249034.0,4_bedroom.csv
3,2402,3,Maricopa County,County,AZ,AZ,4,13,330454.0,331718.0,...,332932.0,334078.0,335996.0,338599.0,340567.0,341889.0,343263.0,345184.0,347528.0,4_bedroom.csv
4,2841,4,San Diego County,County,CA,CA,6,73,691293.0,688656.0,...,690763.0,694178.0,699356.0,703425.0,705471.0,705167.0,704542.0,706376.0,709632.0,4_bedroom.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15467,828,3098,Alpine County,County,CA,CA,6,3,671000.0,671987.0,...,670989.0,670760.0,670373.0,669946.0,669342.0,669748.0,669433.0,670395.0,671140.0,5_bedroom.csv
15468,425,3101,Camas County,County,ID,ID,16,25,443305.0,448423.0,...,464447.0,471477.0,475455.0,475869.0,478497.0,485093.0,492218.0,498696.0,502653.0,5_bedroom.csv
15469,2345,3112,Hinsdale County,County,CO,CO,8,53,378826.0,379242.0,...,380322.0,377958.0,376086.0,372433.0,373155.0,373979.0,373157.0,373508.0,372761.0,5_bedroom.csv
15470,1933,3122,Mineral County,County,CO,CO,8,79,544343.0,547506.0,...,551935.0,553105.0,554504.0,553642.0,552837.0,555599.0,559358.0,562410.0,562058.0,5_bedroom.csv
15471,2518,3124,San Juan County,County,CO,CO,8,111,500094.0,499319.0,...,507396.0,513098.0,517811.0,518592.0,519096.0,519526.0,516260.0,510400.0,503989.0,5_bedroom.csv

In [5]:
# Change value from file names to home type

homes_df.loc[homes_df['Home Type'] == '4_bedroom.csv', 'Home Type'] = '4 bedroom'
homes_df.loc[homes_df['Home Type'] == 'Single_Family_homes.csv', 'Home Type'] = 'single family'
homes_df.loc[homes_df['Home Type'] == '1_bedroom.csv', 'Home Type'] = '1 bedroom'
homes_df.loc[homes_df['Home Type'] == '2_bedroom.csv', 'Home Type'] = '2 bedroom'
homes_df.loc[homes_df['Home Type'] == 'Condo_Co-op.csv', 'Home Type'] = 'condo'
homes_df.loc[homes_df['Home Type'] == '5_bedroom.csv', 'Home Type'] = '5 bedroom'

In [6]:
# final data for homes 
homes_ca_df = homes_df[homes_df['StateName'] == 'CA']
homes_ca_df['Home Type'].unique()

array(['4 bedroom', 'single family', '1 bedroom', '2 bedroom', 'condo',
       '5 bedroom'], dtype=object)

In [7]:
# add new column "Avg house price"

homes_ca_df['Avg house price'] = round((homes_ca_df['2019-01-31'] + homes_ca_df['2019-02-28']
                                        + homes_ca_df['2019-03-31'] + homes_ca_df['2019-04-30'] 
                                        + homes_ca_df['2019-05-31'] + homes_ca_df['2019-06-30'] 
                                        + homes_ca_df['2019-07-31'] + homes_ca_df['2019-08-31'] 
                                        + homes_ca_df['2019-09-30'] + homes_ca_df['2019-10-31'] 
                                        + homes_ca_df['2019-11-30'] + homes_ca_df['2019-12-31']) / 12, 2)

<ipython-input-7-73504381d987>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  homes_ca_df['Avg house price'] = round((homes_ca_df['2019-01-31'] + homes_ca_df['2019-02-28']

In [8]:
# choose only column that we need for analisys
home_ca_value_df = homes_ca_df[['RegionName', 'State', 'Avg house price', 'Home Type']].copy()

In [9]:
# get population data
path_to_file = 'Resources/CrimeData/AllCountyPopulation.csv'
population_df = pd.read_csv(path_to_file)

In [10]:
#Extract county name
county = []
county_names = []

for index, row in home_ca_value_df.iterrows():
    reg = row['RegionName'].split(' ')
    if len(reg) > 1:
        county.append(reg[: len(reg)-1])
    elif len(reg) == 1:
        county.append(reg)

for ind in range(len(county)):
    strg = ' '.join(county[ind])
    county_names.append(strg)

In [11]:
home_ca_value_df['County'] = county_names

In [12]:
home_ca_value_df = home_ca_value_df.drop(columns=['RegionName'])
clean_home_data = home_ca_value_df[['County', 'State', 'Home Type', 'Avg house price']]
clean_home_data

               County State  Home Type  Avg house price
0         Los Angeles    CA  4 bedroom        722251.25
4           San Diego    CA  4 bedroom        698838.33
5              Orange    CA  4 bedroom        860278.42
10          Riverside    CA  4 bedroom        448650.92
11     San Bernardino    CA  4 bedroom        444484.50
...               ...   ...        ...              ...
14858            Mono    CA  5 bedroom       1166818.33
14892         Trinity    CA  5 bedroom        394104.17
15117           Modoc    CA  5 bedroom        210738.33
15444          Sierra    CA  5 bedroom        459396.92
15467          Alpine    CA  5 bedroom        670542.33

[337 rows x 4 columns]

In [13]:
# Save df to csv file
clean_home_data[['County', 'State', 'Home Type', 'Avg house price']].to_csv('Resources/HomeValue_clean.csv', index=False)